EduktSoftFrontEnd/Connected Services/Service/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://server/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Servicio" targetNamespace="http://server/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.205.222:8080/EduktSoftServices/Servicio?xsd=1" namespace="http://server/" />
    </xsd:schema>
  </types>
  <message name="validarLogin">
    <part name="parameters" element="tns:validarLogin" />
  </message>
  <message name="validarLoginResponse">
    <part name="parameters" element="tns:validarLoginResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="restaurarContra">
    <part name="parameters" element="tns:restaurarContra" />
  </message>
  <message name="restaurarContraResponse">
    <part name="parameters" element="tns:restaurarContraResponse" />
  </message>
  <portType name="Servicio">
    <operation name="validarLogin">
      <input wsam:Action="http://server/Servicio/validarLoginRequest" message="tns:validarLogin" />
      <output wsam:Action="http://server/Servicio/validarLoginResponse" message="tns:validarLoginResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://server/Servicio/helloRequest" message="tns:hello" />
      <output wsam:Action="http://server/Servicio/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="restaurarContra">
      <input wsam:Action="http://server/Servicio/restaurarContraRequest" message="tns:restaurarContra" />
      <output wsam:Action="http://server/Servicio/restaurarContraResponse" message="tns:restaurarContraResponse" />
    </operation>
  </portType>
  <binding name="ServicioPortBinding" type="tns:Servicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="validarLogin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="restaurarContra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Servicio">
    <port name="ServicioPort" binding="tns:ServicioPortBinding">
      <soap:address location="http://192.168.205.222:8080/EduktSoftServices/Servicio" />
    </port>
  </service>
</definitions>